Python

pycache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/
Docker

docker-compose.yml.bak
*.log

Terraform

terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/tfplan
terraform/.terraform.lock.hcl
Ansible

ansible/inventory/ec2.yml.bak
Jenkins

*.jpi
*.hpi
Security reports

gitleaks-report.json
trivy-report.txt

*.DS_Store
*.swp
*.bak
